<div class="container">
    <h1>Dynamic Angular Reactive Form</h1>
    {{ data | json }}
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let d of data">
            <div *ngIf="d.type === 'text'" class="form-group">
                <label for="">{{ d.label }}</label>
                <input type="text" class="form-control" formControlName="{{ d.label }}"
                    (keyup)="validateFormControl(d.label)">
            </div>
            <div *ngIf="d.type === 'dropdown'" class="form-group">
                <label for="">{{ d.label }}</label>
                <select formControlName="{{ d.label }}" class="form-control">
                    <option value="">Select</option>
                    <option [value]="o.id" *ngFor="let o of d.options">{{ o.value }}</option>
                </select>
            </div>
            <div *ngIf="d.type ==='textArea'" class="form-group">
                <label for="">{{ d.label }}</label>
                <textarea formControlName="{{ d.label }}" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>